body { background: #7ec0a6; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 56px; display: flex; }
.block-search-0 { color: #d0dbd6; font-size: 17px; margin-bottom: 5px; }
.block-router-1 { color: #50b0d2; font-size: 20px; margin-bottom: 5px; }
.block-helper-2 { color: #c1d47c; font-size: 12px; margin-bottom: 5px; }
.block-sms-3 { color: #9d17ce; font-size: 12px; margin-bottom: 5px; }
.block-invoice-4 { color: #97779d; font-size: 17px; margin-bottom: 5px; }
.block-sms-5 { color: #5ded0a; font-size: 15px; margin-bottom: 5px; }